@model DDAC_TraditionalHandicraftGallery.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
    ViewBag.pTitle = "Users";
    ViewBag.pageTitle = "Traditional Handicraft Gallery";
    Layout = "~/Areas/Admin/Views/_Shared/_Layout.cshtml";
}


<h1>Details</h1>

<div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UserName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UserName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.EmailConfirmed)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.EmailConfirmed)
                    </dd>                 
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CreatedAt)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CreatedAt)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UpdatedAt)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UpdatedAt)
                    </dd>                   
                </dl>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-outline-primary waves-effect waves-light">Back to List</a>
</div>
