@model DDAC_TraditionalHandicraftGallery.ViewModels.EditPasswordViewModel
@{
    ViewBag.Title = "Edit Password";
    ViewBag.pageTitle = "Traditional Handicraft Gallery";
    ViewBag.pTitle = "Edit Password";
    ViewBag.noPageTitle = false;
    Layout = "~/Views/_Shared/_GalleryLayout.cshtml";
}
<div class="container">
    <div class="col-md-8 mb-5 mx-auto">
        <div class="hm_login_header">
            <h1>Edit Password Form</h1>
        </div>
        @{
            if (ViewBag.PasswordChangedSuccessfully != null && ViewBag.PasswordChangedSuccessfully == true)
            {
                <div class="alert alert-success" role="alert">
                    Password changed successfully!
                </div>
            }
        }
        <div class="login_fields">
            @using (Html.BeginForm("EditPassword", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group mb-2">
                    @Html.LabelFor(m => m.OldPassword)
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Old Password" })
                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                </div>
                <div class="form-group mb-2">
                    @Html.LabelFor(m => m.NewPassword)
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "New Password" })
                    @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                </div>
                <div class="form-group mb-2">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
                <div class="form_btn mb-4">
                    <button type="submit" class="hm_btn">Submit</button>
                </div>
            }
        </div>
    </div>
</div>