@{
    ViewBag.Title = "Gallery";
    ViewBag.pageTitle = "Traditional Handicraft Gallery";
    ViewBag.pTitle = "Gallery";
    ViewBag.noPageTitle = false;
    Layout = "~/Views/_Shared/_GalleryLayout.cshtml";
}


<div class="hm_gallery_wrapper">
	<div class="container">
		<div class="hm_gallery_inner margin_btm30">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="filter_list">
						<ul>
							<li><a href="#" class="filter active" data-filter="all">all</a></li>
							<li><a href="#" class="filter" data-filter=".paper_craft">paper craft</a></li>
							<li><a href="#" class="filter" data-filter=".knitting">knitting</a></li>
							<li><a href="#" class="filter" data-filter=".painting">painting</a></li>
							<li><a href="#" class="filter" data-filter=".clay">clay</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="gallery_full_width" id="portfolio">
						<div class="col-lg-4 col-md-4 col-sm-6 padding_left padding_right mix mix-all painting" data-value="1" style="display: inline-block;" data-bound="">
							<div class="gallery_img">
								<img src="~/assets/images/gallery/gallery_big1.jpg" alt="" class="img-fluid">
								<div class="gallery_img_overlay"></div>
								<div class="overlay_buttons">
									<a class="" href="@Url.RouteUrl("GalleryItem", new { id = "123" })"><i class="fa fa-search"></i></a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 padding_left padding_right mix mix-all clay" data-value="2" style="display: inline-block;" data-bound="">
							<div class="gallery_img">
								<img src="~/assets/images/gallery/gallery_big2.jpg" alt="" class="img-fluid">
								<div class="gallery_img_overlay"></div>
								<div class="overlay_buttons">
									<a class="" href="@Url.RouteUrl("GalleryItem", new { id = "123" })"><i class="fa fa-search"></i></a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 padding_left padding_right mix mix-all painting" data-value="3" style="display: inline-block;" data-bound="">
							<div class="gallery_img">
								<img src="~/assets/images/gallery/gallery_big3.jpg" alt="" class="img-fluid">
								<div class="gallery_img_overlay"></div>
								<div class="overlay_buttons">
									<a class="" href="@Url.RouteUrl("GalleryItem", new { id = "123" })"><i class="fa fa-search"></i></a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 padding_left padding_right mix mix-all clay" data-value="4" style="display: inline-block;" data-bound="">
							<div class="gallery_img">
								<img src="~/assets/images/gallery/gallery_big4.jpg" alt="" class="img-fluid">
								<div class="gallery_img_overlay"></div>
								<div class="overlay_buttons">
									<a class="" href="@Url.RouteUrl("GalleryItem", new { id = "123" })"><i class="fa fa-search"></i></a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 padding_left padding_right mix mix-all knitting" data-value="5" style="display: inline-block;" data-bound="">
							<div class="gallery_img">
								<img src="~/assets/images/gallery/gallery_big5.jpg" alt="" class="img-fluid">
								<div class="gallery_img_overlay"></div>
								<div class="overlay_buttons">
									<a class="" href="@Url.RouteUrl("GalleryItem", new { id = "123" })"><i class="fa fa-search"></i></a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 padding_left padding_right mix mix-all paper_craft" data-value="6" style="display: inline-block;" data-bound="">
							<div class="gallery_img">
								<img src="~/assets/images/gallery/gallery_big6.jpg" alt="" class="img-fluid">
								<div class="gallery_img_overlay"></div>
								<div class="overlay_buttons">
									<a class="" href="@Url.RouteUrl("GalleryItem", new { id = "123" })"><i class="fa fa-search"></i></a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 padding_left padding_right mix mix-all paper_craft" data-value="7" style="display: inline-block;" data-bound="">
							<div class="gallery_img">
								<img src="~/assets/images/gallery/gallery_big7.jpg" alt="" class="img-fluid">
								<div class="gallery_img_overlay"></div>
								<div class="overlay_buttons">
									<a class="" href="@Url.RouteUrl("GalleryItem", new { id = "123" })"><i class="fa fa-search"></i></a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 padding_left padding_right mix mix-all clay" data-value="8" style="display: inline-block;" data-bound="">
							<div class="gallery_img">
								<img src="~/assets/images/gallery/gallery_big8.jpg" alt="" class="img-fluid">
								<div class="gallery_img_overlay"></div>
								<div class="overlay_buttons">
									<a class="" href="@Url.RouteUrl("GalleryItem", new { id = "123" })"><i class="fa fa-search"></i></a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 padding_left padding_right mix mix-all clay" data-value="9" style="display: inline-block;" data-bound="">
							<div class="gallery_img">
								<img src="~/assets/images/gallery/gallery_big4.jpg" alt="" class="img-fluid">
								<div class="gallery_img_overlay"></div>
								<div class="overlay_buttons">
									<a class="" href="@Url.RouteUrl("GalleryItem", new { id = "123" })"><i class="fa fa-search"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>