@model DDAC_TraditionalHandicraftGallery.ViewModels.GalleryIndexViewModel
@{
    ViewBag.Title = "Gallery";
    ViewBag.pageTitle = "Traditional Handicraft Gallery";
    ViewBag.pTitle = "Gallery";
    ViewBag.noPageTitle = false;
    Layout = "~/Views/_Shared/_GalleryLayout.cshtml";
}


<div class="hm_gallery_wrapper">
    <div class="container">
        <div class="hm_gallery_inner margin_btm30">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="filter_list">
                        <ul>
                            <li><a href="#" class="filter active" data-filter="all">all</a></li>
                            @foreach (var type in Model.HandicraftTypes)
                            {
                                <li><a href="#" class="filter" data-filter=".@type.Id">@type.Name</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="gallery_full_width" id="portfolio">
                        @{
                            int counter = 0;
                        }
                        @foreach (var handicraft in Model.Handicrafts)
                        {
                            counter++;
                            <div class="col-lg-4 col-md-4 col-sm-6 padding_left padding_right mix mix-all @handicraft.Type.Id" data-value="@counter" style="display: inline-block;" data-bound="">
                                <div class="card mx-1">
                                    <div class="gallery_img card-img-top">
                                        <img src="@handicraft.ImageURL" alt="@handicraft.Name" class="img-fluid">
                                        <div class="gallery_img_overlay">
                                        </div>
                                        <div class="overlay_buttons">
                                            <a class="" href="@Url.RouteUrl("GalleryItem", new { id = handicraft.Id })"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">@handicraft.Name</h4>
                                        <p class="card-text">
                                            By @handicraft.AuthorName
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>