@model IEnumerable<DDAC_TraditionalHandicraftGallery.Models.QuoteRequest>

@{
    ViewBag.Title = "Quote Requests";
    ViewBag.pTitle = "All Quote Requests";
    ViewBag.pageTitle = "Traditional Handicraft Gallery";
    Layout = "~/Areas/Admin/Views/_Shared/_Layout.cshtml";
}

<!-- DataTables -->
<link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/libs/datatables.net-select-bs4/css//select.bootstrap4.min.css" rel="stylesheet" type="text/css" />

<!-- Responsive datatable examples -->
<link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />


<h1>View Quote Requests</h1>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="alternative-page-datatable handicrafts-table" class="table dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.User)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Handicraft)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RequestDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsProcessed)
                            </th>
                        </tr>
                    </thead>


                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Handicraft.Name)
                                </td>
                                <td class="utc-date-time">
                                    @item.RequestDate.ToString("o")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsProcessed)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        var dateTimes = document.querySelectorAll('.utc-date-time');
        dateTimes.forEach(function (dateTime) {
            var utcDate = new Date(dateTime.textContent.trim());
            var offset = -utcDate.getTimezoneOffset() / 60; // Get time zone offset in hours
            var localDate = new Date(utcDate.getTime() + offset * 60 * 60 * 1000); // Add offset to UTC date-time
            var options = {
                day: 'numeric',
                month: 'numeric',
                year: 'numeric',
                hour: '2-digit',
                minute: '2-digit',
                second: '2-digit',
                hour12: true
            };

            dateTime.textContent = localDate.toLocaleString('en-US', options);
        });
        //dateTimes.forEach(function (dateTime) {
        //    var utcDate = new Date(dateTime.textContent);
        //    dateTime.textContent = utcDate.toLocaleString();
        //});
    });
</script>

<!-- end row-->
<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>

<!-- Required datatable js -->
<script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

<!-- Buttons examples -->
<script src="~/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="~/assets/libs/jszip/jszip.min.js"></script>
<script src="~/assets/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="~/assets/libs/pdfmake/build/vfs_fonts.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

<script src="~/assets/libs/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="~/assets/libs/datatables.net-select/js/dataTables.select.min.js"></script>

<!-- Responsive examples -->
<script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<!-- Datatable init js -->
<script src="~/assets/js/pages/datatables.init.js"></script>

<script src="~/assets/js/app.js"></script>
