@model DDAC_TraditionalHandicraftGallery.Models.Handicraft

@{
    ViewBag.Title = "Details";
    ViewBag.pTitle = "Handicrafts";
    ViewBag.pageTitle = "Traditional Handicraft Gallery";
    Layout = "~/Areas/Admin/Views/_Shared/_Layout.cshtml";
}


<h1>Details</h1>

<div>
    <div class="col-12">
        @if (!ViewBag.PromoteSent)
        {
            <form id="promotionForm" asp-controller="Handicrafts" asp-action="SendPromotion" method="post">
                <input type="hidden" asp-for="Id" />
                <div class="mb-2 mt-1">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmModal">Send Promotion</button>
                </div>
            </form>
        }
        @if (ViewBag.PromoteSent)
        {
            <div class="alert alert-success my-2">
                Promotional Notification for this handicraft has been sent successfully!
            </div>
        }
        <div class="card">
            <div class="card-body">
                <dl class="row">                  
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.AuthorName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.AuthorName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.AuthorEmail)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.AuthorEmail)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.IsHidden)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IsHidden)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ImageURL)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ImageURL)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CreatedAt)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CreatedAt)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UpdatedAt)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UpdatedAt)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Type)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Type.Name)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-outline-primary waves-effect waves-light">Back to List</a>
</div>

<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Confirm Promotion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to send the promotion?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="confirmPromotion">Confirm</button>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("confirmPromotion").addEventListener("click", function () {
        document.getElementById("promotionForm").submit();
    });
</script>


<!-- end row -->
<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>

<!-- bs custom file input plugin -->
<script src="~/assets/libs/bs-custom-file-input/bs-custom-file-input.min.js"></script>

<script src="~/assets/js/pages/form-element.init.js"></script>

<script src="~/assets/js/app.js"></script>
